body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
        font-family: 'Istok Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sibar Navlink styling */
.main-nav {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.main-nav:hover {
    color: red;
    background: white;
    text-decoration: none !important;
}

.main-nav-active {
    color: #fb5607;
    background: #fb5607;
}